*{
   margin: 0px;
   padding: 0px;
   font-family: 'Open Sans', sans-serif;
}

.wrapper{
  display: block;
  background-color: #f9f9f9;
  height:100vh;
}

.smallwrapper{
  display: block;
  text-align: center;
  border: 1px solid #9d9d9d;
  margin: 0 25%;
  padding: 5vw;
  width: 30%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input{
 display: block;
 color: white;
 margin: 2px;
 text-align: center;
}

.register{
  display: block;
  text-align: center;
}

.button{
  display: block;
  text-align: center;
}
