<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anything You Like!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>BANNER HERE</h1>

    <div class="navbar">
      <ul>
        {% if 'user_id' not in request.session %}
        <li><a href="/login_registration">Login/Register</a></li>
        {% endif %}
        <li><a href="/addcontentpage">Add Content</a></li>
        {% if 'user_id' in request.session %}
        <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </div>

    {% if user_id in request.session %}
      <li><a href="">Logout</a></li>
    {% endif %}
    <div class="content">
      {% for content in all_content %}
      <h2><a href="/content/{{ content.id }}">{{ content.title }}</a></h2>
      <p>{{ content.created_at|date:"F j, Y" }} . 👍{{ content.content_like.count }} . 💬{{ content.content_comment.count}}</p>
      <a href="/content/{{ content.id }}"><img height='300', width='300' src="{{ content.document.url }}"></a>
      <p>{{ content.description|truncatewords:12 }}</p>
      {% endfor %}
    </div>
    <h2>Most liked!</h2>
    <div class="top_content">
      {% for content in top_content %}
      <h3><a href="/content/{{ content.id }}">{{ content.title }}</a></h3>
      {% endfor %}

    </div>

  </body>
</html>
