<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anything You Like!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <h1>BANNER HERE</h1>

    <div class="navbar">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
        <li><a href="">link</a></li>
      </ul>
    </div>
    <h2>Content</h2>
    <ul>
      {% for obj in documents %}
        <p>{{ obj.title }}</p>
        <li><a href="{{ obj.id }}"><img width='250' height='250' src="{{ obj.document.url }}"></a></li>
      {% endfor %}
    </ul>
    <p>Description</p>

  </body>
</html>
